<div id="<%= dom_id food_log %>">
  <p>
    <strong>Meal type:</strong>
    <%= food_log.meal_type %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= food_log.calories %>
  </p>

  <p>
    <strong>Proteins:</strong>
    <%= food_log.proteins %>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <%= food_log.carbohydrates %>
  </p>

  <p>
    <strong>Fats:</strong>
    <%= food_log.fats %>
  </p>

</div>
